# Default ignored files
/../../TAREA5AlgoritmoEscalada./.idea/shelf/
/../../TAREA5AlgoritmoEscalada./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../TAREA5AlgoritmoEscalada./.idea/httpRequests/
# Datasource local storage ignored files
/../../TAREA5AlgoritmoEscalada./.idea/dataSources/
/../../TAREA5AlgoritmoEscalada./.idea/dataSources.local.xml
